################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Juego_test/FileContentIndex
/log
*.db-shm
*.db-wal
*.db
*.opendb
*.json
/Library
/Logs
